.mealTitle, .distributionTitle, .weightTitle {
    -fx-font-size: 10pt;
    -fx-fill: #707070;
}

.foodName, .mealName, .distribution{
    -fx-text-alignment: right;
    -fx-pref-width: 150;
    -fx-font-size: 9;
}

.foodNumber {

}

.addItemBtn {

}