#exportButton {
    -fx-padding: 9 9 9 9;
    -fx-background-color: #0078D7;
    -fx-font-size: 9pt;
}

#vBox {
    -fx-padding: 30 0 20 58;
}

#resultsTitle {
    -fx-font-size: 12px;
    -fx-font-weight: bold;
    -fx-padding: 0 0 20 0;
}

.tableTitle {
    -fx-font-size: 10;
}

