#scrollpane {
    -fx-background-color:transparent;
    -fx-pref-height: 200;
}

.title {
    -fx-font-size: 22pt;
}

.content {
    -fx-padding: 58 0 0 58;
}

.description {
    -fx-font-size: 10pt;
    -fx-line-spacing: 20px;
    -fx-padding: 15 0 40 0;
}

#controls{
    -fx-padding: 65 80 0 0;
}

#runSimButton {
    -fx-padding: 12 16 12 16;
    -fx-background-color: #0078D7;
    -fx-font-size: 12pt;
}

.buttonIcon {
    -fx-background-color: #153093;
}

.settingsControls{
    -fx-padding: 9 12 9 12;
    -fx-background-color: #2353FE;
    -fx-font-size: 9pt;
    -fx-content-display: right;
}

.grayButton {
    -fx-padding: 9 12 9 12;
    -fx-background-color: #707070;
    -fx-font-size: 9pt;
}

.smallGrayButton {
    -fx-padding: 10 10 10 10;
    -fx-background-color: #707070;
    -fx-font-size: 9pt;
    -fx-text-fill: #E6E6E6;
}

.smallDeleteButton {
    -fx-padding: 10 10 10 10;
    -fx-background-color: #EC2F08;
    -fx-font-size: 9pt;
    -fx-text-fill: #E6E6E6;
}

.removeButton {
    -fx-border-color: transparent;
    -fx-border-width: 0;
    -fx-border-radius: 0;
    -fx-background-color: transparent;
    /*-fx-background-color: transparent;*/
}


