.settingsControls {
}

#scrollpane {
    -fx-background-color:transparent;
}

.title {
    -fx-font-size: 38pt;
}

.content {
    -fx-padding: 80 0 0 115;
}

.description {
    -fx-font-size: 16pt;
    -fx-line-spacing: 40px;
    -fx-padding: 15 0 91 0;
}

#controls{
    -fx-padding: 100 80 0 0;
}

#runSimButton {
    -fx-padding: 13 63 13 63;
    -fx-background-color: #0078D7;
    -fx-font-size: 14pt;
}

.settingsControls{
    -fx-padding: 13 24 13 24;
    -fx-background-color: #2353FE;
    -fx-font-size: 13pt;
}

.grayButton {
    -fx-padding: 13 63 13 63;
    -fx-background-color: #707070;
    -fx-font-size: 14pt;
}

.smallGrayButton {
    -fx-padding: 10 10 10 10;
    -fx-background-color: #707070;
    -fx-font-size: 9pt;
    -fx-text-fill: #E6E6E6;
}

.smallDeleteButton {
    -fx-padding: 10 10 10 10;
    -fx-background-color: #EC2F08;
    -fx-font-size: 9pt;
    -fx-text-fill: #E6E6E6;
}

.removeButton {
    -fx-border-color: transparent;
    -fx-border-width: 0;
    -fx-border-radius: 0;
    -fx-background-color: transparent;
    /*-fx-background-color: transparent;*/
}
