#hBox {
    -fx-padding: 58 58 58 58;
}

#vBox {
    -fx-padding: 0 0 0 41;
}

#splashTitle {
    -fx-font-size: 22pt;
}

#splashText {
    -fx-padding: 22 0 0 0;
    -fx-font-size: 10pt;
    -fx-line-spacing: 10pt;
}

#nextButton {
    -fx-padding: 10 43 10 43;
    -fx-background-color: #0078D7;
    -fx-font-size: 12pt;
}